@media screen and (max-width: 1920px){
    a{
        font-size:23px;
        
  padding: 20px;
  color: #ffffff;
  text-decoration: none;
}
a:hover{
  color: #FFD700;
  text-decoration: none;
}
}
@media screen and (max-width: 1284px){
    a{
        font-size:21px;
        padding: 20px;
  color: #ffffff;
  text-decoration: none;
    }
    a:hover{
  color: #FFD700;
  text-decoration: none;
}
}
@media screen and (max-width: 1210px){
    a{
        font-size:20px;
        padding: 20px;
  color: #ffffff;
  text-decoration: none;
    }
    a:hover{
  color: #FFD700;
  text-decoration: none;
}
}
@media screen and (max-width: 1173px){
    a{
        font-size:19px;
        padding: 20px;
  color: #ffffff;
  text-decoration: none;
    }
    a:hover{
  color: #FFD700;
  text-decoration: none;
}
}
@media screen and (max-width: 1135px){
    a{
        font-size:18px;
        padding: 20px;
  color: #ffffff;
  text-decoration: none;
    }
    a:hover{
  color: #FFD700;
  text-decoration: none;
}
}
@media screen and (max-width: 1098px){
    a{
        font-size:17px;
        padding: 20px;
  color: #ffffff;
  text-decoration: none;
    }
    a:hover{
  color: #FFD700;
  text-decoration: none;
}
}
@media screen and (max-width: 1061px){
    a{
        font-size:16px;
        padding: 20px;
  color: #ffffff;
  text-decoration: none;
    }
    a:hover{
  color: #FFD700;
  text-decoration: none;
}
}
@media screen and (max-width: 1024px){
    a{
        font-size:15px;
        padding: 20px;
  color: #ffffff;
  text-decoration: none;
    }
    a:hover{
  color: #FFD700;
  text-decoration: none;
}
}
@media screen and (max-width: 986px){
    a{
        font-size:14px;
        padding: 20px;
  color: #ffffff;
  text-decoration: none;
    }
    a:hover{
  color: #FFD700;
  text-decoration: none;
}
}
*{
  margin: 0;
  padding: 0;
  border: 0;
}
.page{
  overflow: hidden;
  display: flex;
flex-direction: column;
min-height: 100vh;
}
h2{
  padding: 40px 0;
  color: #000000;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
}
body {
 background-color: #98fb9854;
}
h1{
  padding: 40px 0;
  color: #4e461c;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
}
ul{
  list-style: none;
  margin: 0;
  padding: 40px;
text-align: center;
}
li{
display: inline;
}

.head{
  background: url(Voina.png);
  height: 45vh;
  background-repeat:no-repeat;
  background-size: cover;

}
h3{
  margin: 20px 0;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
}

footer{
  background-color: #fafafa;
  margin-top: auto;
}
footer #seti{
float: right;
}
footer #seti img{
  width: 30px;
  height: 30px;
  margin: 40px 0;
}
footer #prava{
text-align: center;
margin: 40px;
}

.glavnaya a{
    font-size: 25px;
}
p{
    font-size: 25px;
}


.rss{
text-align: center;
font-size: 25px;
}
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Libre+Baskerville');
body {
  margin: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}
body {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  
}
nav {
  text-align: center;
  padding: 40px 0 0;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav a {
  text-decoration: none;
  display: block;
  color: #222;
}
.topmenu > li {
  display: inline-block;
  position: relative;
}
.topmenu > li > a {
  position: relative;
  padding: 10px 15px;
  font-family: 'Kaushan Script', cursive;
  font-size: 22px;
  line-height: 1;
  letter-spacing: 3px;
}
.topmenu > li > a:before {
  content: "";
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 100%;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  transform: translate(-50%, 20px);
  opacity: 0;
  transition: .3s;
}
.topmenu li:hover a:before {
  transform: translate(-50%, 0);
  opacity: 1;
}
.submenu {
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 100%;
  width: 150px;
  padding: 15px 0 15px;
  margin-top: 5px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0,0,0,.2);
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, 20px);
  transition: .3s;
}
.topmenu > li:hover .submenu {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
}
.submenu a {
  font-family: 'Libre Baskerville', serif;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 5px 10px;
  transition: .3s linear;
}
.submenu a:hover {background: #e8e8e8;}